{
  "project_info": {
    "project_number": "PLACEHOLDER_PROJECT_NUMBER",
    "project_id": "PLACEHOLDER_PROJECT_ID",
    "storage_bucket": "PLACEHOLDER_PROJECT_ID.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "PLACEHOLDER_MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "com.example.relink"
        }
      },
      "oauth_client": [
        {
          "client_id": "PLACEHOLDER_CLIENT_ID",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "PLACEHOLDER_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "PLACEHOLDER_CLIENT_ID",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}